Repository louislam/uptime-kuma, pull requests merged in 2023-12, with the labels that each got.

#4133 accessible domain selector
  src/lang/en.json
  src/pages/StatusPage.vue
Labels: accessibility

#3904 Feature: remote browser support
  db/knex_migrations/2023-10-16-0000-create-remote-browsers.js
  server/client.js
  server/model/monitor.js
  server/model/remote_browser.js
  server/monitor-types/real-browser-monitor-type.js
  server/remote-browser.js
  server/server.js
  server/socket-handlers/remote-browser-socket-handler.js
  src/components/RemoteBrowserDialog.vue
  src/components/settings/RemoteBrowsers.vue
  src/lang/en.json
  src/mixins/socket.js
  src/pages/EditMonitor.vue
  src/pages/Settings.vue
  src/router.js
Labels: question

#4163 Add an `aria-label` to the monitor search box
  src/components/MonitorList.vue
  src/lang/en.json
Labels: accessibility

#3912 Adding a way to reset the admin password via CLI without any user interaction
  extra/reset-password.js
Labels: security

#4175 chore: added a helptext for `ntfy`'s `priority` field
  src/components/notifications/Ntfy.vue
  src/lang/en.json
Labels: area:notifications

#4186 Fix: Correct Maintenance Start/End Time Input to Use Explicitly Specified Timezone
  src/components/MaintenanceTime.vue
Labels: area:maintenance

#4185 Fix: Handle trailing slash for status page routing
  server/model/status_page.js
  src/lang/en.json
  src/pages/AddStatusPage.vue
Labels: area:status-page

#4135 Migrate all `v-html` translations to componentised translations
  src/components/settings/Security.vue
  src/lang/ar-SY.json
  src/lang/ar.json
  src/lang/bg-BG.json
  src/lang/cs-CZ.json
  src/lang/da-DK.json
  src/lang/de-CH.json
  src/lang/de-DE.json
  src/lang/el-GR.json
  src/lang/en.json
  src/lang/es-ES.json
  src/lang/et-EE.json
  src/lang/eu.json
  src/lang/fa.json
  src/lang/fi.json
  src/lang/fr-FR.json
  src/lang/he-IL.json
  src/lang/hr-HR.json
  src/lang/hu.json
  src/lang/id-ID.json
  src/lang/it-IT.json
  src/lang/ja.json
  src/lang/ko-KR.json
  src/lang/nb-NO.json
  src/lang/nl-NL.json
  src/lang/pl.json
  src/lang/pt-BR.json
  src/lang/pt-PT.json
  src/lang/ro.json
  src/lang/ru-RU.json
  src/lang/sk.json
  src/lang/sl-SI.json
  src/lang/sr-latn.json
  src/lang/sr.json
  src/lang/sv-SE.json
  src/lang/te.json
  src/lang/th-TH.json
  src/lang/tr-TR.json
  src/lang/uk-UA.json
  src/lang/ur.json
  src/lang/vi-VN.json
  src/lang/yue.json
  src/lang/zh-CN.json
  src/lang/zh-HK.json
  src/lang/zh-TW.json
  src/pages/EditMonitor.vue
Labels: security, area:core

#3903 Attempt an OAuth2 Refresh on 401
  server/model/monitor.js
Labels: question, area:monitor

#4214 Feat: Refresh login token for the client initiating password change
  server/model/user.js
  server/server.js
  src/components/settings/Security.vue
Labels: security
