Repository louislam/uptime-kuma, pull requests merged in 2024-02, with the labels that each got.

#4407 UI: Improve maintenace actions design
  src/pages/ManageMaintenance.vue
Labels: area:maintenance, area:ui/ux

#4490 `Stale`, incorrect issue template and `cannot-reproduce` Comments
  .github/workflows/stale-bot.yml
  extra/close-incorrect-issue.js
Labels: help wanted, house keeping

#4537 Fix: Incorrect handling of status page not found
  server/routers/status-page-router.js
Labels: area:status-page, area:api
