Repository louislam/uptime-kuma, pull requests merged in 2024-07, with the labels that each got.

#4850 Fix uptime & ping badge duration
  server/routers/api-router.js
  server/uptime-calculator.js
Labels: releaseblocker, area:core

#4942 Show URL for "real-browser" type monitor on details page
  src/pages/Details.vue
Labels: area:dashboard, type:enhance-existing, needs:review

#4717 feat: Add SNMP Monitor
  db/knex_migrations/2024-04-26-0000-snmp-monitor.js
  package-lock.json
  package.json
  server/model/monitor.js
  server/monitor-types/snmp.js
  server/server.js
  server/uptime-kuma-server.js
  src/lang/bg-BG.json
  src/lang/cs-CZ.json
  src/lang/de-CH.json
  src/lang/de-DE.json
  src/lang/en.json
  src/lang/es-ES.json
  src/lang/fa.json
  src/lang/fi.json
  src/lang/fr-FR.json
  src/lang/ga.json
  src/lang/hr-HR.json
  src/lang/hu.json
  src/lang/id-ID.json
  src/lang/it-IT.json
  src/lang/nl-NL.json
  src/lang/pl.json
  src/lang/pt-BR.json
  src/lang/ro.json
  src/lang/ru-RU.json
  src/lang/sv-SE.json
  src/lang/tr-TR.json
  src/lang/uk-UA.json
  src/lang/zh-CN.json
  src/lang/zh-TW.json
  src/pages/EditMonitor.vue
  src/util.js
  src/util.ts
Labels: area:monitor, needs:review

#4939 Updated croner to 8.1.0 and fixed "recurring-interval" type maintenance
  package-lock.json
  package.json
  server/model/maintenance.js
Labels: question, area:maintenance
