Repository louislam/uptime-kuma, pull requests merged in 2024-05, with the labels that each got.

#4099 [discord] thread/forum channel support
  server/notification-providers/discord.js
  src/components/notifications/Discord.vue
  src/lang/en.json
Labels: area:notifications

#4260 Make auto refresh interval customizable
  db/knex_migrations/2023-12-20-0000-alter-status-page.js
  server/model/status_page.js
  server/socket-handlers/status-page-socket-handler.js
  src/lang/en.json
  src/pages/StatusPage.vue
Labels: area:status-page

#4445 Add support for custom mongodb commands
  server/model/monitor.js
  server/monitor-types/mongodb.js
  server/uptime-kuma-server.js
  server/util-server.js
  src/lang/en.json
  src/pages/EditMonitor.vue
Labels: area:monitor

#4264 Feat: Use `UptimeCalculator` for PingChart
  server/server.js
  server/socket-handlers/chart-socket-handler.js
  server/uptime-calculator.js
  src/components/PingChart.vue
  src/mixins/datetime.js
  src/mixins/socket.js
Labels: area:dashboard

#3037 Gray out label for up/down/maintenance labels when they are zero
  src/pages/DashboardHome.vue
Labels: area:dashboard

#3661 refactor: upload check label when monitor empty
  server/notification-providers/flashduty.js
  src/lang/en.json
Labels: question, area:notifications, type:enhance-existing

#3620 Add Bitrix24 Webhook notification
  server/notification-providers/bitrix24.js
  server/notification.js
  src/components/NotificationDialog.vue
  src/components/notifications/Bitrix24.vue
  src/components/notifications/index.js
  src/lang/en.json
Labels: area:notifications

#3878 Ignore TLS/SSL error for Redis
  server/model/monitor.js
  server/util-server.js
  src/lang/en.json
  src/pages/EditMonitor.vue
Labels: help wanted, area:monitor

#4694 feat: Add merge conflict labeler workflow
  .github/workflows/conflict_labeler.yml
Labels: question, needs:review

#4773 Switch back to `TryGhost/node-sqlite3` from `louislam/node-sqlite3`
  package-lock.json
  package.json
  server/database.js
Labels: area:core

#4769 New notification provider: SMS Partner API
  server/notification-providers/smspartner.js
  server/notification.js
  src/components/NotificationDialog.vue
  src/components/notifications/SMSPartner.vue
  src/components/notifications/index.js
  src/lang/en.json
Labels: area:notifications, type:new

#4565 Translation `unpin` incident -> `delete` incident
  src/lang/en.json
  src/pages/StatusPage.vue
Labels: area:status-page, area:ui/ux, needs:other-pr-merged

#4436 Update en.json: "setup" -> "set up"
  src/lang/en.json
Labels: house keeping, needs:other-pr-merged

#4791 made sure that json-query for the mqtt monitor is translated properly
  src/pages/EditMonitor.vue
Labels: house keeping

#1991 feat: added HTTP method option for push monitor
  server/routers/api-router.js
Labels: question, area:monitor, needs:review

#4800 feat: update feishu notification template
  server/notification-providers/feishu.js
Labels: question, area:notifications, type:enhance-existing
