Repository louislam/uptime-kuma, pull requests merged in 2025-06, with the labels that each got.

#5846 feat: add multiple tags in bulk for a monitor
  server/model/status_page.js
  src/components/TagsManager.vue
  src/lang/en.json
  test/e2e/specs/status-page.spec.js
Labels: A:dashboard, pr:needs review

#5880 added option to force ipv4 or ipv6 for http(s) monitor type
  db/knex_migrations/2025-06-03-0000-add-ip-family.js
  server/model/monitor.js
  server/server.js
  src/lang/en.json
  src/pages/EditMonitor.vue
Labels: P0-releaseblocker

#5897 feat: Add a "manual" (static/fixed) monitor
  db/knex_migrations/2025-06-11-0000-add-manual-monitor.js
  server/monitor-types/manual.js
  server/server.js
  server/uptime-kuma-server.js
  src/lang/en.json
  src/pages/EditMonitor.vue
Labels: feature-request, A:monitor, type:new, pr:please address review comments

#5576 feat: render markdown in monitor descriptions
  src/pages/Details.vue
Labels: A:status-page, pr:needs review
